@charset "ISO-8859-1";
/*
Primary color: dark blue: #00529b
background:light grey-cream: #faf8f1
bright red: #D7182A
orange: #dd661e
blue: #568BB0
light blue:#00529B
btn blue: #084b81
btn hover: #4c87b5
other colors:
#2196F3
#0099cc
#f1f1f1
#6C9AC3
#f37021
*/
@font-face {
	font-family: 'gentona';
	src: url('../fonts/rene_bieder_-_gentona_bold-webfont.eot');
	src: url('../fonts/rene_bieder_-_gentona_bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/rene_bieder_-_gentona_bold-webfont.woff') format('woff'),
		url('../fonts/rene_bieder_-_gentona_bold-webfont.ttf')
		format('truetype'),
		url('../fonts/rene_bieder_-_gentona_bold-webfont.svg#gentona_bookbold')
		format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'gentona';
	src: url('../fonts/rene_bieder_-_gentona_medium-webfont.eot');
	src: url('../fonts/rene_bieder_-_gentona_medium-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/rene_bieder_-_gentona_medium-webfont.woff')
		format('woff'),
		url('../fonts/rene_bieder_-_gentona_medium-webfont.ttf')
		format('truetype'),
		url('../fonts/rene_bieder_-_gentona_medium-webfont.svg#gentonamedium')
		format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'gentona';
	src: url('../fonts/rene_bieder_-_gentona_light-webfont.eot');
	src: url('../fonts/rene_bieder_-_gentona_light-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/rene_bieder_-_gentona_light-webfont.woff')
		format('woff'),
		url('../fonts/rene_bieder_-_gentona_light-webfont.ttf')
		format('truetype'),
		url('../fonts/rene_bieder_-_gentona_light-webfont.svg#gentonamedium')
		format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'gentona';
	src: url('../fonts/rene_bieder_-_gentona_light_italic-webfont.eot');
	src:
		url('../fonts/rene_bieder_-_gentona_light_italic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/rene_bieder_-_gentona_light_italic-webfont.woff')
		format('woff'),
		url('../fonts/rene_bieder_-_gentona_light_italic-webfont.ttf')
		format('truetype'),
		url('../fonts/rene_bieder_-_gentona_light_italic-webfont.svg#gentonamedium')
		format('svg');
	font-weight: 100;
	font-style: italic;
}
@font-face {
    font-family: 'gentonalight';
    src: url('../fonts/rene_bieder_-_gentona_light-webfont.eot');
    src: url('../fonts/rene_bieder_-_gentona_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_gentona_light-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_gentona_light-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_gentona_light-webfont.svg#gentonalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	overflow-y: auto;
	/*    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
	font-family: "gentona", "Georgia", serif;
	overflow-x: hidden;
	background: #faf8f1 url("../images/bg-texture.png");
	font-weight: 100;
}

span.label-container {
	text-align: left;
	line-height: 29px;
}

.label-input {
	padding-top: 10px;
}

.help-block {
	font-size: 11px;
	color: #D7182A;
}

.dialog {
	margin-top: 10px;
	margin-bottom: 10px;
}

.topnav {
	overflow: hidden;
	background-color: #dd661e;
	display: flex;
	justify-content: space-between;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 14px;
    padding-top: 14px;
    padding-right: 35px;
    padding-left: 40px;
    text-transform: uppercase;
}

.topnav a:hover {
	background-color: #568BB0;
}

.radio label, .checkbox label {
	font-weight: 100;
}
label {
	font-family: "gentonalight", "Georgia", serif !important;
}

.topnav a.active {
	background-color: #00529B;
}

.intro {
	font-size: 17px;
	letter-spacing: 1px;
}

#uf {
	width: 54px;
	height: 43px;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	color: blue;
	background: #00529b;
}

.topnav-icon {
	font-size: 20px !important;
	margin-top: -5px !important;
	padding-top: 16px !important;
}

.panel-primary>.panel-heading {
	background: #00529b url('../images/bg-texture-dark.png');
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
}

.panel {
	margin-top: 20px;
}

.btn-primary, .btn-primary:active, .btn-primary.active {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font: 700 16px/24px "gentona", "Georgia", serif;
	letter-spacing: 2px;
	background: #084b81;
}

.btn-primary:hover {
	background: #4c87b5;
}
/* AllRecipes - START */
.menu {
	padding: 8px;
	margin-bottom: 7px;
}

.btallrec {
	background-color: #2196F3;
	color: white;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 4px 2px;
	cursor: pointer;
}

.btallrec button:hover {
	background-color: #0099cc;
}

.btcollapse {
    padding: 0px;
    border: 1px solid #00529B;
    flex: 1;
    width: 0;
}

.btcollapse button {
	border: none;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	color: #00529b;
	font-weight: 500;
	letter-spacing: 2px;
}

.btcollapse button:hover {
	text-decoration: underline;
}

#search-container {
	float: left;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 10px;
}
#search-container.home {
    margin-top: 84px;
    padding-left: 30px;
    padding-right: 20px;
}
#search {
	padding: 10px;
	font-size: 17px;
	border: 1px solid #00529B;
	float: left;
    flex: 1;
	background: #f1f1f1;
}
#search.home {
    margin-left: 1px;
}
#search-btn {
	background: #084b81;
	color: #fff;
	display: block;
	font: 700 16px/24px "gentona", "Georgia", serif;
	letter-spacing: 2px;
	padding: 18px;
	text-align: center;
	text-transform: uppercase;
}
#search-btn.home {
    margin-left: -1px;
	width: 100%;
}

#search-btn:hover {
	background: #4c87b5;
}

#search-icon {
	float: left;
	height: 46px;
	width: 46px;
	background: #00529B;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
#search-icon.home {
	height: 66px !important;
    width: 72px !important;
}
#search-icon:hover {
	background: #6C9AC3;
}

#search-bar {
	padding-top: 10px;
}

.filter-text {
	width: 57px;
	display: inline-block;
	padding-left: 3px;
}

.filter-text-label {
	width: 100%;
	float: left;
	text-align: left;
	padding-top: 6px;
}

#the-big-one {
	width: 100%;
	padding-top: 20px;
	padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.text-container {
	padding-top: 10px;
}

.label-container-1 {
	float: left;
	padding-top: 3px;
	padding-bottom: 5px;
}

.label-container-custom {
	width: 237px;
	margin-left: -53px;
	"
}

.filter-text2 {
	width: 72px;
	display: inline-block;
	padding-left: 3px;
}

#ingrContainer {
	width: 326px;
	margin-left: 12px;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.ingredient {
	border: 2px solid #f37021;
	display: inline;
	padding: 10px;
	flex-grow: 1;
	margin: 5px;
}

.remove-ingr-icon {
	font-size: 20px !important;
	padding-left: 10px;
}

.removeIngrContainer {
	border: 1px solid #f37021;
	color: #fff;
	background: #f37021;
	font-size: 20px;
	margin-left: 13px;
	padding-left: 0px;
	padding-right: 8px;
	float: right;
	padding-top: 5px;
	margin-top: -5px;
	margin-bottom: -5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.removeIngrContainer:hover {
	color: #f37021;
	background: #faf8f1 url(../images/bg-texture.png);
}
/* AllRecipes - END */

* {
    box-sizing: border-box;
}
img {
    width: auto;
    height: auto;
	size: container;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
#site-welcome {
	font: 700 34px/38px "gentona", "Georgia", serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#00529b;
    margin-top:20px;
}
#site-title {
	color: #FA4616;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.site-desc {
	
}
#allrecipes-filter-container {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
}
#allrecipes-container {
	padding-right: 10px;
    padding-left: 5px;
}
#allrecipes-body {
	padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.view-recipe-link {
	color: #f58200;
	font: 500 16px/16px "gentona", "Georgia", serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}
.view-recipe-link:hover {
	color: #00529b;
}
.card-text {
	text-transform: none;
	font: 500 24px/36px "quadon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}
.recipe-item-container {
	display:flex;
	flex-direction:row;
}
.recipe-item-thumbnail img {
	width: 100px;
	height: 100px;
}
.recipe-item-content {
	flex:1;
	display:flex;
	flex-direction:column;
    text-align: left;
}
.recipe-item-title {
	float: left;
    padding-left: 10px;
}
.recipe-item-author {
	text-align:left;
	padding-left: 20px;
}